@media screen and (max-width: 1000px) {
  #why-choose-us .container .content_text {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
  #why-choose-us .container .pics_wrap {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }

  .ssb_name {
    font-size: 25px;
  }

  #testimonials .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 800px) {
  #main_menu ul {
    gap: 20px;
  }

  #why-choose-us .container {
    width: 90%;
  }

  .screen_1 .content .logo_big {
    padding-right: 0;
  }

  .screen_1 .content #mantra h1 {
    padding-right: 0;
  }
}
@media screen and (max-width: 715px) {
  .search_form {
    width: 80%;
  }

  #main_menu {
    display: none;
  }

  .burger_menu {
    display: block;
  }

  #testimonials .container {
    grid-template-columns: auto;
  }

  .photo_wrap {
    display: none;
  }

  #search-select-book .bg_container .container {
    background-image: none;
  }
}
@media screen and (max-width: 500px) {
  #why-choose-us .container .pics_wrap {
    display: none;
  }

  #testimonials .container .testimonial_descr {
    padding: 20px;
  }

  button.search_form_btn {
    min-width: 40px;
  }
  button.search_form_btn .btn_text {
    display: none;
  }

  button.explore_btn {
    width: 60%;
  }
}